<div class="left">
    <b>Grant Alan Davis</b><br><br>
    <a class="menu-link <%= currentPage === 'projects' ? 'selected' : '' %>" href="/projects">Projects</a>
    •
    <a class="menu-link <%= currentPage === 'info' ? 'selected' : '' %>" href="/info">Info</a>
</div>