<!DOCTYPE html>
<html>

<head>
    <title>Database.la</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/site.js"></script>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/moment.min.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
   
    
    <script>
        $(document).ready(function(){
            console.log("<%= prod %>");
        });
    </script>
</head>    

<body>
    <div class="content">
        <h1>Database.LA Boiler</h1>
    </div>
</body>

</html>