<!DOCTYPE html>
<html>

<head>
    <title>Database.la</title>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en-US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="thumbnail" content="/images/og_image_1200x630.png" />
    <meta property="og:image" content="/images/og_image_1200x630.png" />
    <meta property="og:title" content="Page Title" />
    <meta property="og:description" content="Page Description" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/site.js"></script>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/moment.min.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
   
    <script>
        $(document).ready(function(){
            console.log("<%= prod %>");
        });
    </script>
</head>    

<body>
    <div class="content">
        <h1>Web 3</h1>
    </div>
</body>

</html>