<!DOCTYPE html>
<html>

<head>
    <title>Grant Alan Davis</title>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en-US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="thumbnail" content="/images/og_image_1200x630.png" />
    <meta property="og:image" content="/images/og_image_1200x630.png" />
    <meta property="og:title" content="Gran Alan Davis" />
    <meta property="og:description" content="Films and Projects by Grant Alan Davis" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/moment.min.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/site.js"></script>

    <script>
        $(document).ready(function(){
            console.log("Grant Alan Davis");


        });
    </script>
</head>    

<body>

    <div class="viewer"></div>


    <div class="left">
        <b>Grant Alan Davis</b><br>

    <div class="content">

        <div id="projectsviewer" class="projectsviewer pg">
            <!-- <div class="projecttitle"></div> -->
            <div class="projectimage"></div>

          
            
            <div class="projectdescription">
                <!-- <h3>The Project</h3> -->
                <div class="copy"></div>
            </div>


       

            <div class="projectvideos"></div>

            <div class="projectimages"></div>
            <div class="close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>

        <div id="biopg" class="pg">
            <div class="text">
                <p>
                    etc
                </p>
            </div>
        </div>

        <div id="contactpg" class="pg">
            <div class="text"></div>
        </div>
        
     
        <% projects.forEach(function(project) { %>
        <li>
            <a href="<%= project.slug %>">
                <div class="gblock" style="background-image: url(<%= project.thumbnail %>)"></div>
                
            </a>
        </li>
        <% }); %>
        



    </div>
</body>

</html>