@font-face {
    font-family: "CMU";
    src: url('../fonts/cmunrm-webfont.woff'); /*CMU roman*/
}
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src        : url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
body {
    font-family: "San Francisco", sans-serif;
    color: #000;
    background-color: #efefef;
    font-size: 24px;
    margin: 0;
    padding: 0;
}a {
    color: #00f;
}div, textarea, input, button, ul, li, select, label, form, header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-variant-ligatures: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}.content{
    padding: 32px;
}