@font-face {
    font-family: "CMU";
    src: url('../fonts/cmunrm-webfont.woff'); /*CMU roman*/
}
body {
    font-family: "CMU", serif;
    color: #000;
    background-color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0;
}a {
    color: #00f;
}div, textarea, input, button, ul, li, select, label, form, header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-variant-ligatures: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}.content{
    padding: 32px;
}