@font-face {
    font-family: "CMU";
    src: url('../fonts/cmunrm-webfont.woff'); /*CMU roman*/
}
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src        : url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src        : url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
    font-family     : "San Francisco", sans-serif;
    color           : #000;
    background-color: #dfdfdf;
    font-size       : 32px;
    line-height: 44px;
    margin          : 0;
    padding         : 0;
    position: relative;
    width: 100%;
    float: left;
}a {
    color: #00f;
}b {
    font-weight: 600;
}div, textarea, input, button, ul, li, select, label, form, header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-variant-ligatures: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}.content{
    padding: 64px 64px 64px 92px;
}ul li{
    list-style: none;
}#dachshund{
    //display: none;
    opacity: 0;
    width: 110px;
    height: 56px;
    position: absolute;
    background-image: url('../images/dachshund.gif');
    background-size: 78px 56px;
    background-position: center right;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    pointer-events: none;
    z-index: 100;
    transition: opacity .1s;
    &.on{
        //display: block;
        opacity: 1;
    }
}.menu{
    display: block;
    //background-color: #0fc;
    float: left;
    clear: both;
}.link{
    float: left;
    display: inline;
    transition: all .1s;
    display: block;
    //background-color: #fff;
    padding: 0 4px;
    &.selected{
        font-weight: 600;
    }&:hover {
        cursor : pointer;
        opacity: 0.5;
    }&.menu_projects{
        padding-left: 0 !important;
    }
}.projectlink{
    font-weight: 400;
    transition: all .1s;
    display: block;
    position: relative;
    //background-color: #00f;
    float: left;
    clear: both;
    &.selected{
        font-weight: 600;
    }
    &:hover {
        cursor : pointer;
    }&.hovered{
        z-index: 50;
    }
}.menuspacer{
    float: left;
    display: inline;
}.pg{
    float: left;
    clear: both;
    display: none;
    &.on{
        display: block;
    }
}#biopg{
    width: ~"calc(50% - 64px)";
    padding-bottom: 64px;
    float: left;
}#contactpg{
    width: 50%;
}

.projectsholder{
    display: block;
    float: left;
    padding-bottom: 128px;
}

.projectsviewer{
    width: 50%;
    //border: 1px solid #000;
    position: absolute;
    padding-right: 64px;
    left: 50%;
    .projecttitle{
        font-weight: 600;
    }.close{
        display: none;
        position: absolute;
        top: 0;
        right: 32px;
        padding: 0;
    }
}

.thumbpreview{
    position: absolute;
    width: 300px;
    height: 300px;
    //border: 1px #000 solid;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 10;
    display: none;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: none;
    }.box{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);
        &.horizontal{
            width: 300px;
            height: 225px;
        }&.vertical{
            width: 225px;
            height: 300px;
        }
    }
    &.on{
        display: block;
    }
}