

@font-face {
  font-family: "GreyLLWeb-Regular";
  src: url("../fonts/GreyLLWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "GreyLLWeb-Regular";
  src: url("../fonts/GreyLLWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GreyLLWeb-Regular";
  font-weight: bold;
  src: url("../fonts/GreyLLWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "GreyLLWeb-Regular";
  font-weight: bold;
  src: url("../fonts/GreyLLWeb-Bold.woff2") format("woff2");
}


body {
    font-family     : "GreyLLWeb-Regular", sans-serif;
    color           : #000;
    background-color: #fff;
    font-size       : 18px;
    line-height: 26px;
    margin          : 0;
    padding         : 0;
    position: relative;
    width: 100%;
    float: left;
} 
h6 {
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 0 4px;
    margin: 0;
    font-weight: normal;

} a {
    color: #00f;
}b {
    font-weight: 600;
}div, textarea, input, button, ul, li, select, label, form, header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-variant-ligatures: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}li, ul{
    list-style: none !important;
}.viewer {
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    
    img {
        max-width: 90%;
        max-height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
    }
    
    &.on {
        display: block;
    }
}
.content{
    width: ~"calc(100vw - 400px)";
    position: absolute;
    top: 0;
    left: 440px;
    max-width: 900px;
    padding: 31px 64px 64px 64px;
    z-index: -100;
    .projecttitle{
        font-weight: 600;
        font-size: 56px;
        line-height: 52px;
    }.projectdescription{
        width: 100%;
        max-width: 800px;
    }.close{
        display: none;
        position: absolute;
        top: 0;
        right: 32px;
        padding: 0;
    }.projectimage{
        width: 100%;
        margin-top: 6px;
        margin-bottom: 24px;
        img{
            width: 100%;
            max-width: 800px;
        }
    }

    .copy{
        float: left;
        display: block;
        clear  : both;
        margin-bottom: 16px;
        p{
            margin: 12px 0 24px 0;
        }
    }

    .projectsviewer{
        max-width: 700px;
    }

    .theask h3, .theanswer h3, .projectdescription h3, .projectmedia h3, .projectcredits h3{
        padding: 0;
        margin: 0;
        font-weight: bold;
        float: left;
        clear: both;
        font-size: 18px;
        // font-size: 12px;
        line-height: 26px;
        background-color: none !important;
        width: 100%;
    }.theask, .theanswer{
        // background-color: #000;
        // color: #fff;
        display: block;
        float: left;
        font-size: 13px;
        line-height: 26px;
        display: inline;
        width: 350px;
        padding: 0;
        text-align: left;
        h3{
            text-align: left;
        }
    }.theask{
        padding-right: 16px;
    }.theanswer {
        padding-left: 16px;
        //border-left: 1px solid #000;
    }

    .projectcredits{
        float: left;
        display: block;
        clear: both;
        .copy{
            float: left;
            display: block;
            width: 100%;
            font-size: 12px;
            line-height: 12px;
        }
    }

    .projectmedia{
        float: left;
        display: block;
        clear: both;
        width: 100%;
    }

    .projectvideos{
        float: left;
        display: block;
        overflow: auto;
        width: 100%;
        padding-top: 16px;
    }.projectimages{
        float: left;
        display: block;
        overflow: auto;
        width: 100%;
    }
    
    .projectimages {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Creates a 4-column layout */
        gap: 10px; /* Adjust the space between the grid items */
    }.projectthumb {
        width: 100%;
        aspect-ratio: 1 / .75; /* Makes the cell square */
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            cursor: pointer;
            //opacity: 0.8;
            img{
                filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(0deg);
            }
        }
    }.projectthumb img {
        width: 80%;
        height: 80%;
        object-fit: contain; /* Ensures the image covers the area, maintaining aspect ratio */
    }

}ul li{
    list-style: none;
}#dachshund{
    //display: none;
    opacity: 0;
    width: 55px;
    height: 28px;
    position: absolute;
    background-image: url('../images/dachshund.gif');
    background-size: 39px 28px; //78px 56px
    background-position: center right;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    pointer-events: none;
    z-index: 100;
    transition: opacity .1s;
    &.on{
        //display: block;
        opacity: 1;
    }
}.editor{
    display: none;
}.menu{
    display: block;
    //background-color: #0fc;
    float: left;
    clear: both;
}.link{
    float: left;
    display: inline;
    transition: all .1s;
    display: block;
    //background-color: #fff;
    padding: 0 4px;
    &.selected{
        font-weight: 600;
    }&:hover {
        cursor : pointer;
        opacity: 0.5;
    }&.menu_projects{
        padding-left: 0 !important;
    }
}.projectlink{
    font-weight: 400;
    //transition: all .1s;
    display: block;
    position: relative;
    //background-color: #00f;
    float: left;
    clear: both;
    list-style: none;
  //  background-color: #fff;
    width: 100%;
    padding: 0 16px;
    height: 26px;
    &.selected{
        font-weight: 600;
    }
    &:hover {
        cursor : pointer;
    }&.hovered{
        z-index: 50;
        color: #000;
        //mix-blend-mode: exclusion;
    }
}.menuspacer{
    float: left;
    display: inline;
}.pg{
    float: left;
    clear: both;
    display: none;
    &.on{
        display: block;
    }
}#biopg{
    padding-top: 88px;
    p{
        margin: 0 0 26px 0;
    }
}#contactpg{
    width: 50%;
}

.projectsholder{
    display: block;
    float: left;
    padding-right: 16px;
    padding-bottom: 128px;
}

#projectspg{
    width: 100%;
    margin-top: 26px;
    display: block;
}

.left{
    width: 420px;
    height: 100vh;
    position: fixed;
    top: 32px;
    left: 32px;
}


.thumbpreview{
    position: absolute;
    // width: 75vw;
    // height: 57.6vw;
    width: 50vw;
    height: 38.4vw;
    //border: 1px #000 solid;
    top: 0;
    //right: 0;
    pointer-events: none;
    z-index: 5;
    display: none;
    //border: 1px solid #f00;
    translate: 0 -25%;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: none;
        //border: 1px solid #0cc;
    }.box{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        transform: translateY(-50%);
        z-index: 1;
        opacity: 0;
        //border: 1px solid #00f;
        &.top {
            opacity: 1;
            z-index: 1000;
        }
    }
    
    &.on{
        display: block;
    }
}

.editor{
    position: fixed;
    bottom: 24px;
    left: 24px;
    height: 42px;
    font-family: courier;
    font-size: 8px;
    line-height: 10px !important;
    color: #000;
    background-color: #ccc;
    label{
        float: left;
        clear: both;
        width: 100%;
        font-size: 8px;
        line-height: 10px !important;
    }
    ul{
        display: block;
        float: left;
        position: relative;
        li{
            display: block;
            float: left;
            padding: 0;
            border-bottom: 1px solid #000;
            position: relative;
            &.selected{
                font-weight: 600;
            }.readout{
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 2px;
                width: 32px;
                height: 16px;
                background-color: #fff;
                color: #00f;
                font-size: 8px;
                line-height: 10px;
            }
        }
    }
}